<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Weather App</title>
     <!-- 
        This comment explains the purpose and functionality of the line below to help with personal learning and retention:
        <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
        
        - Purpose:
            Dynamically links the style.css stylesheet to the current HTML document.
        
        - url_for:
            Generates the URL to the file based on this application's configuration.
        
        - Details:
        1. 'static': Refers to the endpoint Flask uses for serving static files. The folder name could be called something different
                     but as long as that file name is in line with the static_folder parameter, 'static' will always refer to that folder
        2. filename='styles/style.css': Specifies the relative path to the file within the `static/` folder.
           This is the file that will be linked dynamically.
        3. The result of `url_for` ensures that the generated URL is accurate for the app's current environment and the Flask parameters
                     that have been set. (e.g., static_folder, a URL prefix like APPLICATION_ROOT or static_url_path, or using a CDN or 
                     external host (STATIC_HOST))
      -->

    <link href = "{{ url_for('static', filename = 'styles/style.css') }}" rel = "stylesheet"> 
</head>

<body>
    <h1>Simple Weather App</h1>
    <!-- 
        Appends '/weather' to the webpage URL along with query parameters based on the user's input. 
        
        1. Upon submission, the form will send an HTTP GET request to the '/weather' endpoint to append the city
           name to the URL as a query parameter.
        2. On the server-side (server.py), the webpage will find '@app.route('/weather')' (FLASK) to handle the logic to process the request. 
           It will grab the city name from the URL, use that to grab the applicable weather data, and then apply the weather.html template to
            render a new webpage with the weather information for that city.
    -->
    <form action = "/weather"> 
        <input type = "text" name = "city" placeholder = "Enter city name">
        <button type="Submit">Submit</button>
    </form>
</body>

</html>